/* Insert your styles here */

#wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
/* header */
header {
  background-image: url(./images/header_bg.jpeg);
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 3px rgba(153, 153, 153, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(153, 153, 153, 0.5);
  -moz-box-shadow: 0 0 3px rgba(153, 153, 153, 0.5);
  -ms-box-shadow: 0 0 3px rgba(153, 153, 153, 0.5);
  -o-box-shadow: 0 0 3px rgba(153, 153, 153, 0.5);
  position: relative;
}

.header-backgroud {
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
  opacity: 0.75;
}

.center-content {
  width: 25%;
  position: absolute;
  top: 30%;
  left: 42%;
}

.center-content img {
  width: 50%;
  display: block;
  margin: auto;
}

.center-content div {
  width: 100%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 30px;
}
/* end header */

/* navbar */
.sticky {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3000;
}

.nav-backgroud {
  width: 100%;
  height: 53px;
  background-color: #111111;
  position: absolute;
  opacity: 0.9;
}

nav#mainNav {
  padding: 0px 100px 0 100px;
  float: left;
  position: relative;
  z-index: 2000;
}

nav#mainNav li {
  display: inline-block;
  position: relative;
}

nav#mainNav li a {
  color: #ffffff;
  display: inline-block;
  padding: 0px 15px;
  position: relative;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  vertical-align: middle;
  text-decoration: none;
}
/* end navbar */

/* about */
.about-cinemax {
  background-color: #ffffff;
}

/* about-first-content */
.first-content {
  width: 100%;
  height: 100vh;
  border-bottom: 3px solid rgb(240, 240, 240);
  position: relative;
}

.parallax-1 {
  background-image: url(./images/parallax/parallax_1.jpeg);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-center {
  background-color: #ffffff;
  width: 100%;
  height: 38%;
  position: absolute;
  top: 30%;
  padding: 0 150px 0 150px;
}

.content-center h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 40px;
}

.content-center p {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: rgb(60, 60, 60);
}

.content-center p span {
  font-weight: 900;
}
/* end about first content */

/* about facilities */
.facilities {
  height: 900px;
  padding: 40px 150px 100px 150px;
  border-bottom: 3px solid rgb(240, 240, 240);
}

.title h1 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.column {
  float: left;
  width: 30%;
  margin: 40px 10px 20px 20px;
  height: 300px;
}

.column h3 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end about facilities */

/* about Atmos & 3D */
.projection {
  height: 1000px;
  padding: 40px 150px 100px 150px;
  border-bottom: 3px solid rgb(240, 240, 240);
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.left-column {
  float: left;
  width: 30%;
  margin-left: 50px;
}

.middle-column {
  float: left;
  width: 30%;
}

.right-column {
  float: left;
  width: 30%;
}

.card {
  position: relative;
  z-index: 1000;
  margin: 20px 10px 20px 10px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 0 20px 0 20px;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 30%;
}

.card-content h3 {
  font-size: 16px;
  color: rgb(230, 64, 119);
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card-content p {
  font-size: 13px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
}
/* end about Atmos & 3D */
/* end about */

/* prices */
.price {
  width: 100%;
  height: 100vh;
  border-bottom: 3px solid rgb(240, 240, 240);
  position: relative;
}

.parallax-2 {
  background-image: url(./images/parallax/parallax_2.jpeg);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.price-container {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 20%;
}

.price-title h1 {
  width: 70%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  padding: 0px 0 50px 0;
  margin: 0 210px 10px 210px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.price-row {
  width: 70%;
  border-bottom: 1px solid rgb(240, 240, 240);
  float: left;
  margin: 0 210px 0 210px;
}

.row-title {
  width: 24%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px 0 10px 0;
}
/* end price */
